# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android/Gradle
android/.gradle/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
